SYSTEM_PORT=9090

SYSTEM_ADNL_PORT=16167

MASTER_ADDRESS=UQB3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0x0

SYSTEM_ACCESS_TOKENS=

BATCH_SIZE=100

CONFIG_PATH=config/dev.yaml

DB_HOST=db
DB_PORT=5432
DB_USER=pguser
DB_PASSWORD=secret
DB_NAME=providerdb
